extends layout

block content
  h1 אורגנישוק
  p.lead המקום בו הכל מן הצומח
  hr
  .row
    .col-sm-4
      h2 ירקות אורגניים
      p
        img(src='img/products/AVC.jpg')
      p
        //a.btn.btn-default(href='#', role='button') View details »
    .col-sm-4
      h2 פירות אורגניים
      p
        img(src='img/products/BAN.jpg')
      p
        //a.btn.btn-default(href='#', role='button') View details »
    .col-sm-4
      h2 טופו
      p
        img(src='img/products/organictofu.jpg' style="display: block;max-width:230px;max-height:95px;width: auto;height: auto;")
      p
        //a.btn.btn-default(href='#', role='button') View details »
    .col-sm-4
      h2 גבינות טבעוניות
      p
        img(src='img/products/tofucheese.jpg' style="display: block;max-width:230px;max-height:95px;width: auto;height: auto;")
      p
        //a.btn.btn-default(href='#', role='button') View details »
    .col-sm-4
      h2 גבינות טבעוניות
      p
        img(src='img/products/FIG.jpg')
      p
        //a.btn.btn-default(href='#', role='button') View details »
    .col-sm-4
      h2 גבינות טבעוניות
      p
      p
        //a.btn.btn-default(href='#', role='button') View details »
